<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>실시간 투표율</title>
    <script src="https://unpkg.com/lightweight-charts@4.1.0/dist/lightweight-charts.standalone.production.js"></script>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div id="chart-container">
        <h1>소프트 실시간 투표율</h1>
        <p class="subtitle">* 투표율은 5분마다 업데이트 됩니다.</p>
        <div id="chart"></div>
    </div>
    <script src="/static/script.js"></script>
</body>
</html>